/* contact.css */
.contact {
 

  margin-left: 5px;
 
  margin-top: 20px;
}


.contact-title  {
  color:#007bff;
  font-size: 60px;
  margin-top: 150px;
  margin-left: 100px;
}

.contact-text {
  color: #2a253f;
  font-size: 16px;
  margin-top: -15px;
  margin-left: 50px;

}




.contact-button {
  padding: 10px 20px;
  background-color: #ffc73c;
  color: #fff;
  width: 350px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 100px;
  
}











.contact-container form input,
.contact-container form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #2a253f;
  border-radius: 4px;
  font-size: 16px;
}




.contact-image img {
  width: 600px;
  height: auto;
  margin-left: 700px;
  size: 50px;
  margin-top: 10px;
  
}


.liste-icone{
 color: #2a253f;

}




.form-box .envoyer-button {
  background-color: #f74077; /* Couleur bleue */
  color: #fff; /* Texte blanc */
  margin-left: 250px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  padding: 10px;
  
}

.contact-container{
  margin-top: -650px;

}



.contact-container .form-box {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
 
 
}




.form-box input[type='text'],
.form-box input[type='email'],
.form-box textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;

 
  margin-left: 250px;
}



.contact .contact-container .form-box .image-msg{
  width: 600px;
  margin-right: 200px;
}