@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 20px; /* Ajoute un peu d'espace sur les côtés */
    
  }

.imageFront {
    align-items: center;
    background-image: url('../../image/foire4.jpg');
    background-size: cover; /* Couvrir toute la zone du conteneur */
    width:1000px; /* Largeur du conteneur égale à 100% de son parent */
    height:400px;
    overflow: hidden;
   
    
}
.stand-front{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../image/stand.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.des {
    font-size: 60px; /* Augmenter la taille de la police */
    color: white; /* Couleur du texte */
    text-align: center;
    margin-top: 55px;
    width: 50%; /* Utiliser 50% de la largeur pour la description */
    padding: 0 20px;
    font-family: 'Lato', sans-serif;

}

.description {
    
    font-size: 18px; /* Augmenter la taille de la police */
    color: #2a253f; /* Couleur du texte */
    text-align: center;
     margin-top: 30px;
    width: 30%; /* Utiliser 50% de la largeur pour la description */
    text-align: center;
    padding: 0 20px; /* Ajouter un peu de marge intérieure */
   
   
   }




    .description h2{
        font-size: 40px; /* Taille du paragraphe */
        color:#2a253f /* Couleur du texte */

    }

    
    .description p{
        font-size: 40px;
       
        color:#2a253f; /* Couleur du texte */
     

    }

.get-started-button {
    padding: 10px 20px;
    background-color: #Ea4157;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
    margin-top: 20px;
}




.get-started-button:hover {
    background-color:#Ea4157;
}



/* partie 2*/

.container1 {
    display: flex; /* Utiliser flexbox pour aligner les éléments horizontalement */
    justify-content: center; /* Centrer les éléments horizontalement */
    align-items: center; /* Centrer les éléments verticalement */
    margin-bottom: 200px;
}

.image-font-2{
    align-items: center;
    background-image: url('../../image/foire5.jpg');
    background-size: cover; /* Couvrir toute la zone du conteneur */
    width:1000px; /* Largeur du conteneur égale à 100% de son parent */
    height:400px;
    overflow: hidden;
    margin-right: 20px;}

    

    .contenu h3{
        font-size: 40px; /* Taille du paragraphe */
        color:#2a253f /* Couleur du texte */

    }

    .contenu p{
        font-size: 19px; /* Taille du paragraphe */
        color:#2a253f; /* Couleur du texte */
     

    }
   

    .consulter-button {
        padding: 10px 20px;
        background-color: #Faae3e;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 25px;
        cursor: pointer;
       align-items: center;
       margin-top: 20px;
    }
    
