.stand-list {
  margin: 20px;
}

.stand-list h1 {
  font-size:40px;
  margin-bottom: 1rem;
  color: #3527b8;
}

.buttonCreate {
  background-color: #beb9db; /* Couleur de fond par défaut */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 1rem;
  cursor: pointer;
 margin-left: 1000px;
 width: 300px;
}

.button-create:hover {
  background-color: #8bd3c7; /* Couleur de fond au survol */
}

.button-Update{
  background-color: #ffb55a; /* Couleur de fond par défaut */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  font-size: 16px;
  margin-right: 0.5rem;
  cursor: pointer;

}
.button-Delete {
  background-color: #d263d4; /* Couleur de fond par défaut */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  font-size: 16px;
  margin-right: 0.5rem;
  cursor: pointer;
}

.button-Update:hover,
.button-Delete:hover {
  background-color: #8bd3c7; /* Couleur de fond au survol */
}

/* Autres styles à ajouter au besoin */
