/* Register.css */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');



.register{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 1519px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0e172f;
  
}



.welcom-section {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 900px;
 
}

.welcomSection {
    text-align: center;
    margin-bottom: 20px;
    color: #0e172f;
    background-color:#4299e1 ;
    margin-top: 119px;
    width: 1590px;
 margin-left: -400px;
    

}

.welcomSection h2 {
    font-size: 2rem;
    font-weight: 700;
}

.welcomSection p {
    color: #0e172f;
}

.formulaire-create {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.formulaire-create form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    display: flex;
    flex-direction: column;
}

.input input {
    border: 1px solid #4299e1;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    margin-left: -250px;
}

.text-red-500 {
    color: #f56565;
    font-size: 0.875rem;
}

.crete-user {
    background-color: #4299e1;
    color: #ffffff;
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: -250px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.crete-user:hover {
    background-color: #2b6cb0;
}

.image-register img {
    margin-top: -400px;
    margin-left: 300px;
    width: 800px;
    height: 500px;

}