/* auth.css */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 0 20px; /* Ajoute un peu d'espace sur les côtés */
  
}



  


/*.container-register {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
*/

.welcome-section {
  text-align: center;
  margin-bottom: 20px;
  background-color: #ffa7a6;
  margin-top: 80px;
  width: 400%;
}


.form-section {
  width: 100%;
  max-width: 400px;
  margin-left: 20px;
}

.formulaire-register {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
}



.formulaire-register input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.formulaire-register button {
  padding: 10px 20px;
  background-color: #826bc1;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.formulaire-register button:hover {
  background-color: #826bc1;
}


.form-section.image-register {
  margin-top: 20px;
 width: 10%;
  border-radius: 8px;
}
