
.container_log{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
 
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #0e172f;
}


.container_register {
  margin-top: 10vh;
  background-color: #0e172f;
  height: 100vh;
  width: 100vw;
}

  .form-container {
   
    top: 20%;
  left: 45%;
  
  padding: 40px;
  border-radius: 10px; /* Cadre arrondi */
  
  
  max-width: 500px;
  width: 100%;

  margin-top: 50px;
  margin-left: 50px;
  }
  


  .image-container {
    left: 0; /* Modification : aligner à gauche */
    top: 0;
    margin-right: 40%;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 800px;
   
    
  }





  .form-container h2 {
    margin: 30px;
    margin-top: -15px;
    margin-left: -25px;
    color:#fcfcfc;
    font-size: 20px;
}
.input-group {
  position: relative;
  margin-bottom: 2px;
}

.input-icon {
  position: absolute;
  left: 1px;
  top: 40%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}


.form-container .form input[type="email"],
.form-container .form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: -14px;
}

.log {
    background-color:#62c1d2;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   width: 100%;
   margin-left: -15px;
   margin-top: px;
}


  


.form-container .error-message {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

.form-container .form {
    width: 400px;
    height: 300px;
    margin-right: 120px;
}


.login-lien a {
  color: #ffffff; /* Couleur du lien */
  text-decoration: none; /* Supprimer la soulignement par défaut */
  font-size: 16px; /* Taille de la police */
  font-weight: bold; /* Gras */
  margin-left: 120px;
}

.login-lien a:hover {
  text-decoration: underline; /* Souligner au survol */
  color: #004080; /* Changement de couleur au survol */
}

.login-lien p {
  color: #a6a4a4; /* Couleur du lien */
  text-decoration: none; /* Supprimer la soulignement par défaut */
  font-size: 10px; /* Taille de la police */
  font-weight: bold; /* Gras */
  margin-left: 170px;
  margin-top: 26px;
}
.remember-me {
  display: flex;
  align-items: center;
}

.remember-me input {
  margin-right: -180px;
  margin-left: -200px;
}

.forgot-password {
  margin-top: 30px;
  margin-left: 100px;
  color: #ccc;
}

.forgot-password-button {
  background: none;
  border: none;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
}

.forgot-password-button:hover {
  color: #0056b3;
}


.input_group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25vw;
}


