.event-list-container {
 
   margin-top: 5px;
  display: flex;
  flex-wrap: wrap; /* Permet aux éléments flexibles de passer à la ligne si nécessaire */
  
}

.event-list-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #2a253f;
  display: flex;
}

.event-list {
  display: flex;
  flex-wrap: wrap; /* Permet aux éléments flexibles de passer à la ligne si nécessaire */
}

.event-list__item {
  border: 1px solid #2a253f;
  border-radius: 5px;
  padding: 0.5rem;
  margin-right: 0.5rem; /* Espacement horizontal entre les éléments */
  margin-bottom: 0.5rem;
  color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-list__item-details {
  list-style: none;
  padding: 0;
  margin: 0;
}

.event-list__item-property {
  margin-bottom: 0.2rem;
  color: #333;
}

.event-list__item-property strong {
  font-weight: bold;
  color: #2a253f;
}

.event-list__item:nth-child(even) {
  background-color: #f5f5f5;
}

.event-list__item:hover {
  background-color: #f5f5dc;
  cursor: pointer;
}

.button {
  background-color: #0b8a2f;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #0b8a2f;
}

.button-create-event{
  background-color: #0b8a2f;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left:400px ;
  width: 200px;

}



.event-list-table th {
  padding: 10px; /* Ajoute un padding à l'intérieur des cellules d'en-tête */
}

.event-list-table td {
  padding: 10px; /* Ajoute un padding à l'intérieur des cellules de données */
}

/* Vous pouvez également spécifier une classe spécifique pour chaque en-tête de colonne si nécessaire */
.event-list-table th.titre {
  padding-right: 20px; /* Ajoute un espace à droite de la colonne "Titre" */
}

.event-list-table th.date {
  padding-right: 20px; /* Ajoute un espace à droite de la colonne "Date de début" */
}

.event-list-table th.description {
  padding-right: 20px; /* Ajoute un espace à droite de la colonne "Description" */
}



.event-list-table {
  border-collapse: collapse; /* Fusionne les bordures adjacentes */
  width: 100%; /* Largeur du tableau */
}

.event-list-table th, .event-list-table td {
  border: 1px solid #ddd; /* Bordure de 1 pixel solide gris */
  padding: 8px; /* Ajoute un padding à l'intérieur des cellules */
  text-align: left; /* Alignement du texte à gauche */
}

.event-list-table th {
  background-color: #f2f2f2; /* Couleur de fond des en-têtes de colonne */
}

.event-list-table th.titre {
  padding-right: 20px; /* Ajoute un espace à droite de la colonne "Titre" */
}
