/* Style du container */
.event-list-container {
  padding: 20px;
}

/* Style du bouton de création */
.button-create {
  background-color: #007bff; /* Bleu */
  color: #fff; /* Texte blanc */
  border: none; /* Suppression de la bordure */
  padding: 10px 20px; /* Espacement interne */
  font-size: 16px; /* Taille de la police */
  border-radius: 5px; /* Coins arrondis */
  margin-bottom: 20px; /* Marge en bas */
  cursor: pointer; /* Curseur pointeur */
}

/* Style des boutons d'action */
.buttonUpdate,
.buttonDelete {
  background-color: #ff007f; /* Rose */
  color: #fff; /* Texte blanc */
  border: none; /* Suppression de la bordure */
  padding: 8px 16px; /* Espacement interne */
  font-size: 14px; /* Taille de la police */
  border-radius: 5px; /* Coins arrondis */
  margin-right: 8px; /* Marge à droite */
  cursor: pointer; /* Curseur pointeur */
}

/* Style des boutons au survol */
.buttonUpdate:hover,
.buttonDelete:hover {
  background-color: #d3076b; /* Rose foncé */
}

/* Style du tableau */
.MuiDataGrid-root {
  background-color: #192a56; /* Bleu marin */
}

/* Style de l'en-tête du tableau */
.MuiDataGrid-colCellWrapper {
  color: #fff; /* Texte blanc */
}

/* Style des lignes du tableau */
.MuiDataGrid-row {
  color: #fff; /* Texte blanc */
}

/* Style des lignes paires du tableau */
.MuiDataGrid-row:nth-of-type(even) {
  background-color: #0f3460; /* Bleu foncé */
}

/* Style des boutons de pagination */
.MuiTablePagination-root {
  color: #fff; /* Texte blanc */
}

/* Style de la flèche de tri */
.MuiDataGrid-iconSeparator {
  color: #fff; /* Texte blanc */
}

/* Style des options par page */
.MuiSelect-icon {
  color: #fff; /* Texte blanc */
}

/* Style de la bordure de la cellule */
.MuiDataGrid-cell {
  border-color: #fff; /* Bordure blanche */
}

/* Style du texte des boutons de pagination */
.MuiTypography-root.MuiTablePagination-caption.MuiTypography-caption {
  color: #fff; /* Texte blanc */
}
.MuiDataGrid-root {
  background-color: #192a56; /* Couleur de fond bleu marin */
}

.MuiDataGrid-colCellWrapper,
.MuiDataGrid-row {
  color: #fff; /* Couleur du texte blanc */
}

.MuiDataGrid-row:nth-of-type(even) {
  background-color: #0b1430; /* Couleur de fond légèrement plus foncée pour les lignes paires */
}
/* Couleur rose fuchsia pour le texte de la row page */
.MuiDataGrid-footer,
.MuiDataGrid-footerContainer {
  color: #ff007f; /* Couleur rose fuchsia */
}

/* Couleur rose fuchsia pour l'icône select */
.MuiDataGrid-iconSeparator {
  color: #ff007f; /* Couleur rose fuchsia */
}

/* Couleur rose fuchsia pour l'ID titre */
.MuiDataGrid-colCell {
  color: #ff007f; /* Couleur rose fuchsia */
}
/* Couleur blanche pour le texte des colonnes */
.MuiDataGrid-colCell {
  color: white; /* Couleur blanche */
}

/* Couleur blanche pour l'en-tête de colonne */
.MuiDataGrid-columnHeader,
.MuiDataGrid-columnHeaderTitle {
  color: white; /* Couleur blanche */
}
/* Couleur rose fuchsia pour les éléments de filtre de colonnes */
.MuiDataGrid-menuItem {
  color: #ff007f; /* Couleur rose fuchsia */
}
/* Couleur rose fuchsia pour tous les icônes de la DataGrid */
.MuiSvgIcon-root {
  color: #ff007f;
}
/* Couleur rose fuchsia pour le texte des colonnes */
.MuiDataGrid-colCell {
  color: #ff007f;
}

/* Couleur rose fuchsia pour le texte des filtres */
.MuiDataGrid-filterForm {
  color: #ff007f;
}

/* Couleur rose fuchsia pour le texte des en-têtes de filtre */
.MuiDataGrid-filterLabel {
  color: #ff007f;
}
/* Couleur rose fuchsia pour le texte des en-têtes de colonnes */
.MuiDataGrid-columnHeaderTitle {
  color: #ff007f;
}
