.update-event-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 500px;
 
}

.update-event-title {
  text-align: center;
  margin-bottom: 40px;
  text-align: center;
  color: #2a253f;
}

.update-event-form {
  display: flex;
  flex-direction: column;
}

.update-event-form-group {
  margin-bottom: 15px;
}

.update-event-form-label {

  margin-bottom: 1px;
  display: block;
  margin-top: -8px;
  color: #2a253f;
}

.update-event-form-input,
.update-event-form-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.update-event-form-button {
  width: 100%;
  padding: 10px;
  background-color: #0b8a2f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.update-event-form-button:hover {
  background-color: #0b8a2f;
}
